.row {
  margin-bottom: 15px;
}
.row > div {
  margin-right: auto;
  border: 2px;
  background-color: gray;
  padding: 20px;
}

h1, h2
{
  text-align: center;
}

li.menu 
{
  text-align: center;
  font-size: 1.8em;
  background-color: white;
  margin: 10px;
  size: 10px;
}

@media only screen and (min-width: 769px)
{
  li.menu
  {
    display: none;
  }
}